body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.verify {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px rgba(13, 15, 14, 0.1);
    width: 500px;
    height: 300px;
    margin-bottom: 200px;
}
.verify > h2 {
    font-size: 40px;
}
.verify > p {
    font-size: 25px;
    margin: 0px;
}
button {
    width: 300px;
    width: 100%;
    max-width: 590px;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover {
    background: #3498db;
    color: white;
}
.boxes {
    margin-bottom: 30px;
    margin-top: 10px;
}
.boxes > input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 40px;
    text-align: center;
    font-size: 25px;
}